[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"d65a907" = {path = ".\\django-polls", editable = true}

[dev-packages]
setuptools = "*"

[requires]
python_version = "3.6"
