<!-- <h1>Question: {{question.question_text}}</h1>
{% if question.choice_set.all %}
    <p>Possible Choices are:</p>
    <ul>
        {% for choice in question.choice_set.all %}
            <li>{{choice.choice_text}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No assigned choices for this question</p>
{% endif %} -->

{# New Stuff with an actual webform #}
<h1>Question: {{question.question_text}}</h1>

{% if error_message %} <p> <strong>{{error_message}}</strong></p> {% endif %}

{% if question.choice_set.all %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <input type="submit" value="Vote" />
    </form>
{% else %}
    <p>No assigned choices for this question</p>
    <p>See the <a href="{% url 'admin:index' %}">admin page</a> to add choices to this question</p>
{% endif %}
